*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Raleway', sans-serif;
	color: $white;
	background-color: $dark;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
