.navigation {
	.hamburger {
		position: fixed;
		top: 3em;
		left: 1em;
		transform: translateY(-50%);
		z-index: 500;
		&-inner::before,
		&-inner,
		&-inner::after {
			background-color: $white;
			z-index: 500;
		}
	}
	&__items {
		&--desktop {
			display: none;
		}
	}
}
