.navigation {
	.hamburger {
		position: fixed;
		top: 3em;
		left: 1em;
		transform: translateY(-50%);
		z-index: 900;
		&-inner::before,
		&-inner,
		&-inner::after {
			background-color: $white;
			z-index: 900;
		}
	}
	&__items {
		&--desktop {
			display: none;
		}
		&--mobile {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $white;
			transform: translateX(-103%);
			transition: transform 0.3s;
			z-index: 600;
			&--active {
				transform: translateX(0);
			}
		}
		&-link {
			position: relative;
			display: inline-block;
			margin: 0.5em;
			padding: 0.5em;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 2.5rem;
			color: $dark;
			transition: 0.3s color;
			&:hover {
				color: $gold;
			}
		}
	}
}

@media (min-width: 992px) {
	.navigation {
		grid-column: 1/2;
		grid-row: 1/2;
		.hamburger,
		&__items--mobile {
			display: none;
		}
		&__items {
			&--desktop {
				display: block;
				padding: 1em;
				border-bottom: 1px solid rgba(255, 255, 255, 0.3s);
			}
			&-link {
				color: $white;
				&::before {
					@include animationPulse;
				}
				&:hover::before {
					animation: pulse 1s;
				}
			}
		}
	}
}
