.newsletter {
	padding: 6em 2em;
	background-color: $red;
	text-align: center;
	&__text {
		font-size: 4rem;
		text-align: center;
		font-weight: 200;
	}
	&__form {
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;
		&-input {
			width: 70%;
			margin: 2em 0;
			padding: 0.8em 1.6em;
		}
		&-button {
			padding: 0.8em 1.6em;
			background-color: transparent;
			border: 1px solid $gold;
			color: $gold;
			cursor: pointer;
			transition: background-color 0.3s;
			&:hover {
				background-color: $gold;
			}
		}
	}
}

@media (min-width: 768px) {
	.newsletter {
		&__box {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}
		&__form {
			&-button {
				margin-left: 2em;
			}
		}
	}
}
